.reportFilters {
	display: grid;
	padding: 5;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	background-color: #fff;
	color: #444;
}

.reportFilters>* {
	padding-right: 25px;
	width: 25%;
	display: grid;
}

.buttonPadding {
	padding: 20;
	height: 50px;
}

.reportFiltersWidth {
	width: 50% !important;
}
